node_modules
dist
.tmp
.sass-cache

# shit ionic added
coverage
platforms
plugins
*.swp
*.swo
*.log
*.DS_Store
www/scripts/config.js

# ignoring things bower install except patches that were needed
www/lib/*
!/www/lib/angularjs-google-places/
/www/lib/angularjs-google-places/*
!/www/lib/angularjs-google-places/bower.json
!/www/lib/angularjs-google-places/src
/www/lib/angularjs-google-places/src/*
!/www/lib/angularjs-google-places/src/angularjs-google-places.js
