<div class="container">
  <img ng-src="https://github.com/okalinsk/Poogle/raw/master/app/images/logo.png">
  <h2>The best toilets around you, all just waiting for you</h2>
  <form role="form" ng-submit="addToilet()">
      <div class="row">
        <div class="input-group">
          <input type="text" ng-model="toilet" placeholder="new task" class="form-control">
          <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="Add">
          </span>
        </div>
      </div>
  </form>

  <div ng-model="toilets">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Vicinity</th>
      <th>Rating</th>
    </tr>
  </thead>
  </table>
    <p class="table">
      <div ng-repeat="datum in data" ng-style="getStyle(datum)">
	   <div class="row">
        <div class="col-md-4">{{datum.name}}</div>
        <div class="col-md-6">'{{datum.vicinity}}'</div>
        <div class="col-md-2">
          <span class="input-group-btn">
            <button class="btn" ng-click="upVote(datum)" aria-label="Voteup"><span class="glyphicon glyphicon-thumbs-up"></span>{{datum.userData.upvotes}}</button>
            <button class="btn" ng-click="downVote(datum)" aria-label="Voteup"><span class="glyphicon glyphicon-thumbs-down"></span>{{datum.userData.downvotes}}</button>
          </span>
        </div>
	   </div>
      </div>
    </p>
</div>
